body{
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;


}

canvas{
    background-color: #111;
   
    border-radius: 7px;
} 