body{
    background-color: aqua;
    font: normal 15pt Arial;
    margin: 45px;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0,236);
    
    
}
footer{
    color: white;
    text-align: center;
}
